/**
 *CSS Style for Project 4
 *Some CSS code integrated from Foobooks
 *  -HTML/Main Section Code
 *  -Sticky Footer Code
 *  -Forms and associated alerts code
 *
 *Modifications were made to code so projects
 *looks different from Foobooks.
 *
 *Created by: Marc-Eli Faldas
 *Last Modified: 5/8/2018
 */

/*Foobooks Code*/
html {
    font-size: 62.5%; /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    color: #111;
    font-family: Verdana, Geneva, sans-serif; /*<--Code Change*/

    /* sticky footer */
    position: relative;
    min-height: 100%;
}

/*Foobooks Code*/
body {
    /* Default font-size */
    font-size: 16px;
    font-size: 1.6rem;

    /* sticky footer - match footer height */
    margin-bottom: 60px;
}

/*Foobooks Code*/
section#main {
    min-width: 1000px; /*<--Code Change*/
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

#logo {
    width: 320px;
}

/*Foobooks Code*/
footer {
    text-align: center;
    background-color: #eee;

    /* sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/*----------------------------------------------------
Login Page and Register Page
-----------------------------------------------------*/

.guestDiv {

    width: 600px;
    margin: 0 auto;
    border: 10px outset rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 40px;

}

.guestSubheading {

    padding-bottom: 10px;
}

/*----------------------------------------------------
Edit Page
-----------------------------------------------------*/

.editDiv {

    width: 750px;
    height: 570px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 10px outset rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 40px;
    margin: auto;
}

/*----------------------------------------------------
Nav Bar
-----------------------------------------------------*/

.navbar {
    min-width: 1000px;
}

.navbar-brand {
    display: block;
    margin-left: 12.5%;
}

.navbar-toggle {
    z-index: 3;
}


/*To Deactivate the Collapse of Navbar*/
.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

/*Foobooks Code*/
nav ul li {
    display: inline-block;
    margin-top: 5px;
    padding: 10px;
}

/*Foobooks Code*/
nav ul li a:link {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

#logout {
    padding-top: 13px;
}


/*----------------------------------------------------
Forms - Code From Foobooks
-----------------------------------------------------*/

label, legend {
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: .75px;
    font-weight: bold;
    text-transform: uppercase;
}

input[type=text], input[type=email], input[type=password], textarea, select {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    padding: 3px;
    font-family: "Courier New", Courier, monospace; /*<--Code Change*/
}

input[type='checkbox'], input[type='radio'] {
    display: inline;
}

input[type='checkbox'] + label {
    display: inline;
    font-weight: normal;
}

.btn {
    margin-top: 20px;
}

.error {
    list-style-type: none;
    color: #a94442; /* reddish */
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-size: 12px;
    font-style: italic;
}

.success {
    color: #3c763d; /* greenish */
}

.alert {
    margin-top: 10px;
}

.details {
    font-size: 1.1rem;
    font-size: 11px;
    font-style: italic;
}

/*----------------------------------------------------
Alerts
-----------------------------------------------------*/

#noAuth {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

#editsSaved {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

/*----------------------------------------------------
Search Bar
-----------------------------------------------------*/

.searchBarSection {

    height: 100px;

}

#searchBar {

    width: 550px;

}

#searchButton {

    margin-top: 33.5px;

}

#separator {

    display: block;
    height: 1px;
    border: 0;
    width: 850px;
    border-top: 1px solid #ccc;
    margin: auto;
    padding-bottom: 10px;
}

/*----------------------------------------------------
Verbs Show Page
-----------------------------------------------------*/

#verbDiv {

    width: 750px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 10px outset rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 40px;
    margin: auto;
}

#englishSubHeading {

    font-style: italic;

}

/*----------------------------------------------------
Tables CSS
-----------------------------------------------------*/

.verbTable {
    table-layout: fixed;
    border-spacing: 15px;
    margin: auto;
}

/* Verb Table */
#masterVerbTable {
    width: 800px;
}

/* User's Saved Verb Table */
#savedVerbTable {
    width: 950px;
}

.Heading {
    background-color: #2c6faf;
    color: #ffffff;
    text-align: center;
}

.Th {
    text-align: left;
}

#eHeading, #eTh {
    padding: 15px;
}

#frtHeading, #frtTh {
    width: 120px;
    padding: 10px;
}

#fprtHeading, #fprtTh {
    padding: 10px;
}

#fftHeading, #fftTh {
    padding: 10px;
}

#jrtHeading, #jrtTh {
    padding: 10px;
}

#removeHeading, #removeCheck {
    padding: 10px;
    text-align: center;
}

#searchTr:nth-child(even) {
    background-color: #f2f2f2
}

.aboutTable {
    width: 600px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;

}

.languageHeading {
    text-align: center;
    color: #2c6faf;
}

.description {
    text-align: center;

}

#filipinoHeading, #filipinoDescription {
    padding-left: 10%;
}

#spanishHeading, #spanishDescription {
    padding-left: 10%;

}

#englishDescription, #filipinoDescription {
    padding-bottom: 5%;
}

